/ExtensionManager/Kernel/.vs
/ExtensionManager/Kernel/bin
/ExtensionManager/Kernel/obj
/ExtensionManager/Loader/.vs
/ExtensionManager/Loader/bin
/ExtensionManager/Loader/obj
/ExtensionManager/.vs
/ExtensionManager/Output
/ExtensionManager/Assoc/bin
/ExtensionManager/Assoc/obj
/ExtensionManager/zpixFont/obj
/ExtensionManager/zpixFont/bin
